DevMaster/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56743/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" />
  <xs:element name="InserirAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aluno" nillable="true" type="q1:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aluno" nillable="true" type="q2:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aluno" nillable="true" type="q3:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aluno" nillable="true" type="q4:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlunoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarAlunoResult" nillable="true" type="q5:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aula" nillable="true" type="q6:Aula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aula" nillable="true" type="q7:Aula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aula" nillable="true" type="q8:Aula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="aula" nillable="true" type="q9:Aula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarAulaResult" nillable="true" type="q10:ArrayOfAula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAvaliacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="avaliacao" nillable="true" type="q11:Avaliacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAvaliacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAvaliacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="avaliacao" nillable="true" type="q12:Avaliacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAvaliacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAvaliacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="avaliacao" nillable="true" type="q13:Avaliacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAvaliacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAvaliacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="avaliacao" nillable="true" type="q14:Avaliacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAvaliacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarAvaliacaoResult" nillable="true" type="q15:ArrayOfAvaliacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="disciplina" nillable="true" type="q16:Disciplina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarDisciplinaResult" nillable="true" type="q17:ArrayOfDisciplina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnsino">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ensino" nillable="true" type="q18:Ensino" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEnsinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarEnsinoResult" nillable="true" type="q19:ArrayOfEnsino" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFalta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="falta" nillable="true" type="q20:Falta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFaltaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFalta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="falta" nillable="true" type="q21:Falta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFaltaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFalta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="falta" nillable="true" type="q22:Falta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFaltaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFalta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="falta" nillable="true" type="q23:Falta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFaltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarFaltaResult" nillable="true" type="q24:ArrayOfFalta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="turma" nillable="true" type="q25:Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="turma" nillable="true" type="q26:Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="turma" nillable="true" type="q27:Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="turma" nillable="true" type="q28:Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTurmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarTurmaResult" nillable="true" type="q29:ArrayOfTurma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q30:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarTipoUsuarioResult" nillable="true" type="q31:ArrayOfTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="usuario" nillable="true" type="q32:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="usuario" nillable="true" type="q33:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="usuario" nillable="true" type="q34:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="usuario" nillable="true" type="q35:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarUsuarioResult" nillable="true" type="q36:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDisciplinaTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="dt" nillable="true" type="q37:Disciplina_Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDisciplinaTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="dt" nillable="true" type="q38:Disciplina_Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaTurmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarDisciplinaTurmaResult" nillable="true" type="q39:ArrayOfDisciplina_Turma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirBoletim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="boletim" nillable="true" type="q40:Boletim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirBoletimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="EmitirBoletimResult" nillable="true" type="q41:ArrayOfBoletim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>